.wrapper {
    padding-top: 50px;
    /* background: #ECEFF1; */
    background: whitesmoke;
    height: 100%;
    display: right;
    flex-flow: row wrap;
    padding: 20px;
    position: inline;
    justify-content: right;
    align-content: flex-start;
    overflow: auto;
  }