
.sectiontitle{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
}

.formfield{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbutton{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
  }


.currentpost{
    margin-top: 65px;
    margin-bottom: 78px;

  }

  /* .card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  } */


  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background: whitesmoke;
  }
  .card > .img-container > img {
    width: 80%
  }