.sectiontitle{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.formfield{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbutton{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
  }

.currentpost{
    margin-top: 65px;
    margin-bottom: 78px;

  }