.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.jumbotron {
  font-weight: bold;
  background-image: url("");
  background-size: cover;
  color:black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}